.education{
    width: 100%;
    height: 100vh;
    background-color: rgb(216, 221, 172);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.e1{
    width: 15%;
    height: 7vh;
   
   
}
.e2{
    width: 70%;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.e3{
    width: 100%;
    height: 65vh;

    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: center;
    gap: 0px 15px;
}
.e33{
width: 45%;
height: 30vh;
background-color: white;
}
.h41{
    color: orangered;
    padding: 1% 0% 0% 5%;
}
.h4{
    padding: 5% 0% 0% 5%;
}
.p22{
    padding: 2% 0% 0% 5%; 
}
