.footer1{
    width: 100%;
    height: 50vh;
    background-color:  #172937;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.fhead{
    color: orangered;
    font-size: 40px;
    margin-bottom: 3%;

}
.fhead2{

    color: aliceblue;
}
.fdiv1{
width:8vw;
height:5vh ;
border: 1px solid orangered;
border-radius: 5px;
display: flex;
align-items: center;

}
.fdiv2{
    width:15vw;
height:5vh ;
border: 1px solid orangered;
border-radius: 5px;
display: flex;
align-items: center;
padding-left: 3px;


}
.fdiv3{
    width:8vw;
height:5vh ;

border: 1px solid orangered;
border-radius: 5px;
display: flex;
align-items: center;


}
.a1{
    color: #fff;
    font-size: small;
}
.fdiv{
    width: 80%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}